<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<h2>Technical skills</h2>
<form action="/survey/{{id}}"  method="POST">
  <h3>How would you rate your colleague's technical skills?</h3>
  </br>
  <div class="input-survey">
    {{!-- <input type="checkbox" name='thing1' id="thing1"/><label for="thing1"></label> --}}
  <input type="radio" id= name="numbers" value="5">
  <label class="surveys" for="5">Amazing</label>
   </br>
  <input type="radio"  name="numbers" value="4">
  <label class="surveys" for="4">Great</label>
   </br>
  <input type="radio"  name="numbers" value="3">
  <label class="surveys" for="3">Satisfactory</label>
   </br>
  <input type="radio" name="numbers" value="2">
  <label class="surveys" for="2">Needs improvement</label>
   </br>
  <input type="radio" name="numbers" value="1">
  <label class="surveys" for="one">Poor</label>
   </br>
   </div>
  <div class="button-center">
  <button class="front-buttons" type="submit">SUBMIT</button>
</form>
  <a href="/users"><button type="button" class="back-buttons">BACK</button></a>
  </div>
</div>
</body> 