<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<form action="/survey5/{{id}}" method="POST">
  <p>How can your colleague improve his or her work?</p>
  <br>
  <input type="text" name="answer" value="answer"><br><br>
  <button class="submit-button" type="submit">SUBMIT</button>
</form>
</div>
</body>