<head>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<h2>You've completed the 360 survey!</h2>
<a href="/directory"><button><class="next-button">HOME</button></a>