<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<img class="logo-photo" src="/images/thumbs-up.png" ></img>
<h3>You've completed the 360 survey!</h3>
<a href="/directory"><button type="button" class="front-buttons">HOME</button></a>
</div>
</body>