<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<h2>You've completed the 360 survey!</h2>
<a href="/directory"><button><class="next-button">HOME</button></a>
</div>
</body>