<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<h2>Leadership skills</h2>
<form action="/survey2/{{id}}" method="POST">
  <label for="">How would you rate your colleague's social skills?</label>
  </br>
  <input type="radio" name="numbers" value="5" >
  <label for="five">Amazing</label>
   </br>
  <input type="radio" name="numbers" value="4" >
  <label for="four">Great</label>
   </br>
  <input type="radio" name="numbers" name="three" value="3" >
  <label for="three">Satisfactory</label>
   </br>
  <input type="radio" name="numbers" value="2" >
  <label for="two">Needs improvement</label>
   </br>
  <input type="radio" name="numbers" value="1" >
  <label for="one">Poor</label>
   </br>
  <button class="submit-button" type="submit">SUBMIT</button>
</form>
</div>
</body>