<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="front-page">
<div class="container">
<div>
<h1>What do you want to do?</h1>
</div>
<a href="/users"><button class="front-buttons">Answer the Survey</button></a>
</br>
<a href="/display"><button class="front-buttons">See my 360 Results</button></a>
<img src="/images/survey.png" class="dir-photo">
</div>
</body>
