<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="front-page">
<div class="container">
<div class="logo">
<img class="logo-photo" src="/images/logo.png" ></img>
</div>
<div class="options">
<a href="/signup"><button class="front-buttons">Sign up</button></a>
</br>
<a href="/login"><button class="front-buttons">Login</button></a>
</div>
</div>
</body>
</html>