<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    {{!-- <script type="text/javascript" src="../routes/charts.js"></script> --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    {{{body}}}
  <nav><a href="/directory"><img src="/images/home.png"></a><a href="/logout"><img src="/images/logoutdef.png"></a></nav>
  </body>
</html>
{{!-- <a href="/logout">logout</a> --}}