<h1>Results</h1>

{{#if canvas}}
  <canvas id="socialChart" width="400" height="400"></canvas>
  <canvas id="technicalChart" width="400" height="400"></canvas>
  <canvas id="organizationalChart" width="400" height="400"></canvas>
  <canvas id="leadershipChart" width="400" height="400"></canvas>
  <canvas id="motivationChart" width="400" height="400"></canvas>
  <script type="text/javascript" src="js/charts.js"></script>
{{/if}}

