<h1>Results</h1>

{{#if canvas}}
  <div id = 'graffics'>
    <div>
      <canvas id="socialChart" width="300px" height = "300px"></canvas>
    </div>
    <div>
      <canvas id="technicalChart"  width="300px" height = "300px" ></canvas>
    </div>
    <div>
      <canvas id="organizationalChart" ></canvas>
    </div>
    <div>
      <canvas id="leadershipChart" ></canvas>
    </div>
    <div>
      <canvas id="motivationChart" ></canvas>
    </div>
  <script type="text/javascript" src="js/charts.js"></script>
  <script type="text/javascript" src="stylesheets/style.css"></script>
  </div>
{{/if}}

