<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">
<div class="container">
<h1>Reviews</h1>
{{#each data}}
<div class="review-box">
<p class="review-text">{{this.review}}</p>
</div>
{{/each}}
<a href="/display"><button type="button" class="back-buttons">GRAPHICS</button></a>
</div>
</body>