<h2>360 Survey</h2>
<form action="/survey/:id" method="POST">
  <label for="">Technical skills:</label>
  <input type="text" name="tech">
	<br>
  <label for="">Social skills:</label>
  <input type="text" name="social">
	<br>
  <label for="">Leadership skills:</label>
  <input type="text" name="leader">
	<br>
  <button class="submit-button" type="submit">SUBMIT</button>
</form>