<!doctype html>
<html lang="en" class="front-page">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body class="front-page">

<h1>Who do you want to review today?</h1>
<div class="user-box">
{{#each users}}
<div class="every-photo"> 
<img class="peer-photos" src="{{this.image}}">
<div class="name-survey">
<h4><a href="/survey/{{this._id}}"><button type="button" class="person-buttons">
{{this.firstName}}</button></a></h4>
</div>
</div>
{{/each}}
</div>
</body>