body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#graffics div{
  position: relative;
  height: 100%;
  width: 99%;
  background-color: white;
  border: black 2px solid;
  margin: 2% auto;
}
